[submodule "indexa-git/website"]
	path = indexa-git/website
	url = git@github.com:indexa-git/website.git
	branch = 13.0
[submodule "indexa-git/partner-contact"]
	path = indexa-git/partner-contact
	url = git@github.com:indexa-git/partner-contact.git
	branch = 13.0
[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 13.0
[submodule "OCA/account-analytic"]
	path = OCA/account-analytic
	url = git@github.com:OCA/account-analytic.git
	branch = 13.0
[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 13.0
[submodule "indexa-git/account"]
	path = indexa-git/account
	url = git@github.com:indexa-git/account.git
	branch = 13.0
[submodule "indexa-git/account-payment"]
	path = indexa-git/account-payment
	url = git@github.com:indexa-git/account-payment.git
	branch = 13.0
[submodule "indexa-git/odoo-windies"]
	path = indexa-git/odoo-windies
	url = git@github.com:indexa-git/odoo-windies.git
	branch = 13.0
[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 13.0
